@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;700&display=swap');

$gradientColor: linear-gradient(to bottom right, #38c9c9, #1CA7EC);
$darkGreyColor: #1f1f1f;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: $darkGreyColor;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.wrapper{
    display: grid;
    max-width: 110em;
    margin: auto;
}


.hero{
    position: relative;
    .custom-shape-divider-bottom-1651637066 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        z-index: -1;
    }
    .custom-shape-divider-bottom-1651637066 svg {
        position: relative;
        display: block;
        width: calc(115% + 1.3px);
        height: 90px;
        transform: rotateY(180deg);
    }
    .custom-shape-divider-bottom-1651637066 .shape-fill {
        fill: #FAFAFA;
    }
    .wrapper{
        padding: 4.5em 6vw 0;
    }
    h1{
        font-family: 'Oswald', sans-serif;
        font-weight: 700;
        line-height: 120%;
        font-size: #{"min(calc(4rem + 3vw), 8rem)"};
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
        position: relative;
        &::before{
            position: absolute;
            content: '';
            height: 5px;
            width: 1.235em;
            background-image: $gradientColor;
            bottom: 0;
            left: 6px;
        }
    }

    ul{
        margin-top: 1em;
        margin-left: 3px;
        display: flex;
        // gap: 2.5em;
        a{
            opacity: 0;
            margin-right: 2em;
        }
        a:hover{
            font-style: italic;
            position: relative;
            &::before{
                content: '.::';
                color: #1CA7EC;
            }
        }
    }
}

.projects{
    background-color: #FAFAFA;
    .wrapper{
        // gap: 2em;
        padding: 4em 6vw;
    }
    article{
        display: grid;
        height: fit-content;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        background-color: white;
        border-radius: 5px;
        transform: translateY(2em);
        opacity: 0;
        box-shadow: rgba(0, 0, 0, .1) 1px 1px 8px;
        margin-bottom: 2.5em;
        &:last-child{
            margin-bottom: 0;
        }
    }
    img{
        width: 100%;
        max-height: 300px;
        object-fit: cover;
        object-position: top;
        image-rendering: auto;
    }
    .description{
        padding: 1em;
        display: grid;
        // gap: 1em;
        place-content: start;
        header,p{
            margin-bottom: 1.125em;
        }
    }
    h3{
        font-family: 'Oswald', sans-serif;
        font-size: 1.875rem;
    }
    .tech-used{
        margin-top: .5em;
        display: flex;
        // gap: .5em;
        flex-wrap: wrap;
        li{
            font-size: 12px;
            border-radius: 5px;
            border: none;
            padding: .2em .6em;
            background-color: grey;
            color: whitesmoke;
            margin-right: .5em;
        }
    }
    .buttons-container{
        width: 100%;
        display: flex;
        // gap: 1em;
        flex-wrap: wrap;
    }
    button{
        padding: .3em 1em;
        background-color: $darkGreyColor;
        border: none;
        border-radius: 5px;
        margin-right: 1em;
        a{
            font-size: .875rem;
            display: block;
            color: white;
            width: 100%;
        }
        &:nth-child(2){
            background: none;
            border: 2px solid $darkGreyColor;
            a{
                color: $darkGreyColor;
            }
        }
    }
}

.about-contact {
    background-color: $darkGreyColor;
    color: white;
    .wrapper{
        grid-template-columns: repeat(auto-fit, minmax(338px, 1fr));
        // gap: 4em;
        padding: 6vw 6vw #{"calc(6vw - 62px)"};
    }
    .about-me{
        margin-bottom: 3em;
        .about-info{
            margin-bottom: 3em;
        }
    }
    h2{
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        margin-bottom: .5em;
        font-size: 2rem;
        position: relative;
        &::before{
            position: absolute;
            content: '';
            height: 3px;
            width: 1.5em;
            background-image: $gradientColor;
            bottom: 0;
        }
    }
    .what-i-know {
        ul{
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
            gap: 1em;
            text-align: center;
            li{
                margin-right: .5em;
                img{
                    width: 3em;
                }
                p{
                    font-size: .875rem;
                }
            }
        }
    }

    form{
        display: grid;
        // gap: .5em;
        input, textarea{
            border: none;
            padding: .5em;
            margin-bottom: .5em;
            font-size: .875rem;
            color: $darkGreyColor;
        }

        .submit-email{
            background-image: $gradientColor;
            color: white;
            font-weight: 700;
            cursor: pointer;
        }

        .error-email, .error-subj, .error-msg{
            display: none;
            font-size: 15px;
            color: rgb(255, 184, 152);
            font-style: italic;
        }
    }
}

footer{
    background-color:$darkGreyColor;
    color: white;
    .wrapper{
        padding: 1em 6vw 1.5em;
        display: flex;
        justify-content: end;
    }
}



@media (min-width: 425px){
    
    .projects .wrapper article{
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
}

@media (min-width: 769px){
    
    .projects .wrapper article{
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    }
    .about-contact{
        .about-me{
            margin-right: 2em;
        }
        .contact-form{
            margin-left: 2em;
        }
    }
}

@media (min-width: 1024px){
    .hero{
        padding-top: 2vw;
    }
    .projects, .hero, footer, .about-contact{
        padding-left: 2vw;
        padding-right: 2vw;
    }
}