@use 'variables';

.projects{
    background-color: #f5f5f5;
    color: variables.$darkGreyColor;

    .control-btn{
        width: fit-content;
    }

    article{
        display: grid;
        margin-bottom: 2em;
        transform: translateY(2em);
        opacity: 0;
        background-color: rgb(255, 255, 255);
        box-shadow: 1px 3px 6px rgb(226, 226, 226);
    }
    img{
        width: 100%;
        max-height: 300px;
        object-fit: cover;
        object-position: top;
        image-rendering: auto;
        border-bottom: 2px solid #efefef;
    }
    .description{
        padding: 1em;
        display: grid;
        place-content: start;
        p{
            margin-bottom: 1.125em;
        }
    }
    
    h3{
        font-family: 'Oswald', sans-serif;
        font-size: 1.875rem;
    }
   
    .buttons-container{
        display: flex;
        a{
            padding: .5em 1em;
            margin-right: 1em;
            background-color: variables.$darkGreyColor;
            font-size: .875rem;
            color: white;
            border-radius: 5px;
            &:nth-child(2){
                background-color: transparent;
                border: 2px solid variables.$darkGreyColor;
                color: variables.$darkGreyColor;
            }
        }
    }
}


@media (min-width: 860px){

    .projects{
        article{
            grid-template-columns: 50%;
            grid-template-areas: "desc img";
            background-color: transparent;
            box-shadow: none;

            &:nth-child(2){
                grid-template-areas: "img desc";
            }
        }

        img{
            grid-area: img;
        }

        .description{
            grid-area: desc;
            padding: 1em 2em;
        }
    }
}