@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: #272727;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.custom-wrapper {
  max-width: 85em;
  margin: 0 auto;
  padding: 2.5em 6vw;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  margin-bottom: 0.5em;
  font-size: 2.5rem;
  position: relative;
}
h2::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 1.5em;
  background-image: linear-gradient(to right, #4852b1, #72438d);
  bottom: 0;
}

@media (min-width: 1024px) {
  .custom-wrapper {
    padding: 4.5em 6vw;
  }
}
.main-header {
  text-align: center;
  position: relative;
  background: conic-gradient(#4852b1, #72438d, #4852b1);
  color: rgb(255, 255, 255);
}
.main-header .custom-shape-divider-bottom-1651637066 {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.main-header .custom-shape-divider-bottom-1651637066 svg {
  position: relative;
  display: block;
  width: calc(115% + 1.3px);
  height: 90px;
  transform: rotateY(180deg);
}
.main-header .custom-shape-divider-bottom-1651637066 .shape-fill {
  fill: #f5f5f5;
}
.main-header h1 {
  width: fit-content;
  margin: 1em auto 0;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  line-height: 120%;
  font-size: min(4rem + 3vw, 6rem);
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  position: relative;
}
.main-header nav {
  margin-top: 1em;
  margin-bottom: 4em;
}
.main-header a {
  color: white;
  opacity: 0;
  margin: 0 0.5em;
}
.main-header a:hover {
  font-style: italic;
  position: relative;
}

.projects {
  background-color: #f5f5f5;
  color: #272727;
}
.projects .control-btn {
  width: fit-content;
}
.projects article {
  display: grid;
  margin-bottom: 2em;
  transform: translateY(2em);
  opacity: 0;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 3px 6px rgb(226, 226, 226);
}
.projects img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  object-position: top;
  image-rendering: auto;
  border-bottom: 2px solid #efefef;
}
.projects .description {
  padding: 1em;
  display: grid;
  place-content: start;
}
.projects .description p {
  margin-bottom: 1.125em;
}
.projects h3 {
  font-family: "Oswald", sans-serif;
  font-size: 1.875rem;
}
.projects .buttons-container {
  display: flex;
}
.projects .buttons-container a {
  padding: 0.5em 1em;
  margin-right: 1em;
  background-color: #272727;
  font-size: 0.875rem;
  color: white;
  border-radius: 5px;
}
.projects .buttons-container a:nth-child(2) {
  background-color: transparent;
  border: 2px solid #272727;
  color: #272727;
}

@media (min-width: 860px) {
  .projects article {
    grid-template-columns: 50%;
    grid-template-areas: "desc img";
    background-color: transparent;
    box-shadow: none;
  }
  .projects article:nth-child(2) {
    grid-template-areas: "img desc";
  }
  .projects img {
    grid-area: img;
  }
  .projects .description {
    grid-area: desc;
    padding: 1em 2em;
  }
}
.about-contact {
  background-color: #272727;
  color: white;
}
.about-contact .about-me .about-info {
  max-width: 70ch;
  text-align: left;
  margin-bottom: 3em;
}
.about-contact .about-me .about-info p {
  margin-bottom: 1em;
}
.about-contact .what-i-know ul {
  width: fit-content;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-bottom: 1em;
}
.about-contact .what-i-know ul li {
  margin-top: 0.875em;
  margin-right: 1em;
  margin-left: 0;
}
.about-contact .what-i-know ul li img {
  width: 3em;
}
.about-contact .what-i-know ul li p {
  font-size: 0.875rem;
  margin: 0;
}
.about-contact .what-i-know ul .jquery-logo {
  background-color: rgb(211, 211, 211);
  width: 8em;
  padding: 0.2em;
}

@media (min-width: 768px) {
  .about-me .about-info {
    margin-bottom: 5em;
  }
  .about-me .what-i-know {
    text-align: right;
  }
  .about-me .what-i-know ul {
    margin-left: auto;
  }
  .about-me .what-i-know ul li {
    margin-right: 0;
    margin-left: 1em;
    margin-top: 0;
  }
}
footer {
  background-color: white;
  color: #272727;
}
footer .custom-wrapper {
  padding-bottom: 1em;
}
footer form {
  max-width: 50em;
  margin: auto;
  text-align: left;
  display: grid;
}
footer form label {
  margin-top: 0.5em;
  display: block;
}
footer form input, footer form textarea {
  border: none;
  padding: 0.5em;
  font-size: 0.875rem;
  color: #272727;
  border-radius: 2px;
  background-color: rgb(233, 233, 233);
  width: 100%;
}
footer form .submit-email {
  margin-top: 2em;
  background-image: linear-gradient(to right, #4852b1, #72438d);
  color: white;
  font-weight: 700;
  cursor: pointer;
}
footer form .error-email, footer form .error-subj, footer form .error-msg {
  display: none;
  font-size: 14px;
  color: rgb(214, 57, 9);
  font-style: italic;
}
footer .credit {
  margin-top: clamp(2em, 6vw, 4em);
  text-align: center;
}

@media (min-width: 600px) {
  footer form div {
    display: flex;
  }
  footer form div span {
    width: 100%;
  }
  footer form div span:first-child {
    margin-right: 0.8em;
  }
  footer form div span:last-child {
    margin-left: 0.8em;
  }
}

/*# sourceMappingURL=main.css.map */
